<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сайт прогнозу погоди</title>
</head>
<body>
<h1>Сторінка прогнозу погоди</h1>