{{> header}}
  <label for="cities">Вибрати місто:</label>
  <select id="cities" name="city">
    {{#each cities}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <button onclick="getWeather()">Отримати прогноз</button>
  <div id="weatherInfo">
    {{weather.description}}
  </div>

  <script>
    function getWeather() {
      const selectedCity = document.getElementById('cities').value;
      fetch(`/weather/${selectedCity}`)
        .then(response => response.json())
        .then(weatherData => {
          const weatherInfo = `
           <h2>Погода у місті ${selectedCity}</h2>
            <img src="${weatherData.icon}"></img>
            <p> Температура: ${weatherData.temperature}°C</p>
            <p> Вологість: ${weatherData.humidity}%</p>
            <p> Тиск: ${weatherData.pressure} hPa</p>
          `;
          document.getElementById('weatherInfo').innerHTML = weatherInfo;
        })
        .catch(error => console.error('Error fetching weather data:', error));
    }
  </script>
 {{> footer}}